<div class="header position-sticky w-100">
  <header class="header navbar navbar-expand-lg py-3 py-lg-5 border-bottom border-3 position-relative">
    <div class="container">
      <div class="d-flex align-items-center">
        <a href="index.html"><img src="../assets/images/logo.png" alt="LOGO" class="me-4 logo" /></a>
        <h1 class="me-9 d-none d-md-block">
          <a class="fw-bold d-flex align-items-center fs-9" href="index.html"
            ><span class="fs-4 font-secondary">7TAO</span>活動訂票網</a
          >
        </h1>
        <form class="d-flex header__search" role="search">
          <input class="form-control py-0" type="search" placeholder="探索活動" aria-label="Search" />
          <button class="header__search-btn btn btn-primary text-secondary flex-shrink-0" type="submit">
            <i class="icofont-search-1 fs-8"></i>
          </button>
        </form>
      </div>
      <button
        class="navbar-toggler border-1 rounded-1"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <nav class="collapse navbar-collapse font-secondary border-3" id="navbarText">
        <div class="nav__decoLine"></div>
        <ul class="navbar-nav fs-8 ms-auto mb-2 mb-lg-0 pt-6 pt-lg-0">
          <li class="nav-item me-6">
            <a class="nav-link" aria-current="page" href="#"><i class="icofont-ui-file me-1"></i>REGISTER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html"><i class="icofont-ui-user me-1"></i>LOGIN</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</div>
