.header {
  // position: sticky;
  top: 0;
  background: #f3f1e5;
  z-index: map-get($z-index, header);
  &__search {
    width: 207px;
    @include min-lg {
      width: 335px;
    }
    &-btn {
      height: 39px;
      width: 39px;
      @include min-phone {
        height: 51px;
        width: 51px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.logo {
  width: 39px;
  @include min-phone {
    width: 53px;
  }
}
.nav {
  &__decoLine {
    position: absolute;
    left: 0;
    top: 63px;
    width: 100%;
    height: 3px;
    background: $black;
    @include min-lg {
      display: none;
    }
  }
}
