.activity {
  &-date {
    &-line {
      transform: rotate(30deg);
      height: 50px;
      width: 1px;
      margin: 0 auto;
      background: $primary;
      @include min-lg {
        height: 100px;
      }
    }
    &-line2 {
      height: 18px;
      width: 1px;
      display: block;
      margin: 0 auto;
      background: $primary;
      @include min-lg {
        height: 37px;
      }
    }
  }
}

.tickets {
  &-body {
    a:hover {
      color: $secondary;
    }
  }
}
