<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7TAO活動訂票網｜詳情頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="py-11">
      <div class="container">
        <div class="row">
          <div class="offset-lg-3 col-lg-6 px-8">
            
            <div class="position-relative mb-10">
              <div class="progress" style="height: 1px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-label="Progress"
                  style="width: 100%"
                  aria-valuenow="50"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <div>
                <button
                  type="button"
                  class="d-block top-0 start-0 translate-middle btn btn-primary rounded-0"
                  style="width: 3rem; height: 3rem"
                >
                  1
                  <span
                    class="fw-bold text-primary d-block text-nowrap top-100 start-50 position-absolute translate-middle mt-6"
                    >訂單確認</span
                  >
                </button>
              </div>
              <button
                type="button"
                class="position-absolute bg-third top-0 start-50 translate-middle btn tn-outline-primary border rounded-0"
                style="width: 3rem; height: 3rem"
              >
                2
                <span
                  class="fw-bold text-primary d-block text-nowrap top-100 start-50 position-absolute translate-middle mt-6"
                  >結帳付款</span
                >
              </button>
              <button
                type="button"
                class="position-absolute bg-third top-0 start-100 translate-middle btn btn-outline-primary border rounded-0"
                style="width: 3rem; height: 3rem"
              >
                3
                <span
                  class="fw-bold text-primary d-block text-nowrap top-100 start-50 position-absolute translate-middle mt-6"
                  >訂購結果</span
                >
              </button>
            </div>
          </div>
          <div class="offset-lg-3 col-lg-6">
            <!-- content -->
            <div class="mb-10">
              <h2 class="text-center fs-3 fw-bold mb-7">返老還童-制服聯誼</h2>
              <table class="table align-middle fs-10 fs-lg-9 w-100">
                <tbody class="border-top border-2">
                  <tr>
                    <th scope="row">日期</th>
                    <td class="text-end">2023/5/12</td>
                  </tr>
                  <tr>
                    <th scope="row">票種</th>
                    <td class="text-end">改頭換面票（含大改造）</td>
                  </tr>
                  <tr>
                    <th scope="row">票價</th>
                    <td class="text-end">$8000</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <div class="text-center">
                <h2 class="fs-5 fw-bold mb-4">
                  <img src="../assets/images/sparkler.png" alt="" width="32px" class="mb-4" /><br />聯絡人資料
                </h2>
              </div>

              <form class="needs-validation font-sans" novalidate>
                <ul class="mb-7">
                  <li class="mb-4">
                    <label for="order-name" class="mb-2">聯絡人姓名</label>
                    <input type="text" class="form-control" id="order-name" placeholder="請輸入聯絡人名稱" required />
                    <div class="invalid-feedback">請輸入聯絡人姓名</div>
                  </li>
                  <li class="mb-4">
                    <label for="order-email" class="mb-2">Email</label>
                    <input type="email" class="form-control" id="order-email" placeholder="請請輸入Email" required />
                    <div class="invalid-feedback">請輸入Email</div>
                  </li>
                  <li>
                    <label for="order-phone" class="mb-2">手機</label>
                    <input type="tel" class="form-control" id="order-phone" placeholder="請輸入手機號碼" required />
                    <div class="invalid-feedback">請輸入手機</div>
                  </li>
                </ul>
                <button type="submit" class="btn btn-primary w-75 fs-7 d-block mx-auto mb-4 py-2">
                  確認表單資料<i class="icofont-double-right fw-bold ms-1"></i>
                </button>
                <a href="#" class="text-center fs-8" style="color: #4f4f4f">取消購票</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
